@model AspMvcEf.Models.Test_User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
    var tt = new AspMvcEf.Models.Entities().Test_Url.ToList();
}

<h2>Testy Add/Edit</h2>
@using (Html.BeginForm())
{
    <table >

        <tr>
            <td></td>
            <td>@Html.HiddenFor(m => m.Id)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Test_Url_Id)</td>
            <td>@Html.DropDownListFor(m => m.Test_Url_Id, new SelectList(tt, "Id", "Name"))</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Name)</td>
            <td>@Html.EditorFor(m => m.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Username)</td>
            <td>@Html.EditorFor(m => m.Username)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.EditorFor(m => m.Password)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>    

    </table>

    
}